.exercise__container {
    display: flex;
    flex-direction: row;

}

.exercise__images-grid {
    display: grid;
    margin: 2rem 1rem;
    max-width: 50%;
    grid-template-rows: repeat(2, minmax(200px, 100%));
    grid-template-columns: repeat(2, minmax(200px, 100%));
    justify-content: center;
    align-items: center;
}

.exercise__images-grid img {
    max-width: 100%;
    max-height: 80%;
}

.exercise__container-image {
    background: url('../../assets/images/exercisebackground.jpeg');
    background-size: cover;
    max-width: 100%;
    background-repeat: no-repeat;
}

.exercise__container-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-family);
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}