.getStarted__container {
    width: 100%;
    height: 100vh;
}

.getStarted__container-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: url('../../assets/images/getstarted.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.getStarted__container-image img {
    height: 100%;
    max-width: 100%;

}

.getStarted__container-text {
    color: #fff;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    font-size: 45px;
    font-family: var(--font-family);
    text-align: center;
}

.getStarted__button {
    background-color: #ffffff;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: var(--font-family);
    font-size: 26px;
    font-weight: 300;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 16px 43px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.getStarted__button:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

.getStarted__button:active {
    background-color: #ededed;
    border-color: #000000;
    transform: scale(.96);
}

.getStarted__button:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}

.popup-content {
    margin: auto;
    font-family: var(--font-family);
    font-size: 20px;
    margin: 30px 0px 10px;
    padding: 5px;
    border: 1px solid #d7d7d7;
    height: auto;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

}


.modal {
    width: 400px;
    height: auto;
    background: white;
    color: #344e41;
    position: fixed;
    z-index: 3;
    border-radius: 6px;
    text-align: center;
    padding: 0 30px 30px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.33);
    transition-delay: 2s;
}

.button__create {
    background: #588157;
    width: 150px;
    height: 55px;
    margin: 0.5rem 0;
}

.button__text {
    font-family: var(--font-family);
    font-size: 18px;
}


.close-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.topright {
    position: absolute;
    right: 0;
    top: 0
}

.popup-overlay {
    background: rgba(0, 0, 0, .5)
}

[data-popup=tooltip].popup-overlay {
    background: transparent
}