.getStarted__container {
    background: #344e41;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 2rem 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-family);
}